/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca";
  font-size: 0.94rem;
  font-weight: 400;
  background-color: hsl(0, 0%, 95%);
}



ul {
  padding-top: 13%;
  padding-left: 18%;
  padding-right: 18%;
  display: flex;
  flex-direction: row; /*displays elements horizontally (paragraphs)*/
  list-style-type: none; /*deleted dotes for list items*/
  border-radius: 0.5rem;
}

main li {
  padding: 3rem;
  flex: 1; /*made all elements equal in size*/
  text-align: left;
}

.class__name {
  font-size: 2.5rem;
  font-family: "Big Shoulders Display";
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.class__image {
  margin-bottom: 2rem;
}

.class__description {
  font-family: "Lexend Deca";
  font-weight: 400;
  margin-bottom: 5.2rem;
  line-height: 1.5rem;
  opacity: 75%;
}

.Sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.Suvs {
  background-color: hsl(184, 100%, 22%);
}
.Luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.class__button {
  cursor: pointer;
  border: 0;
  border-radius: 2rem;
  color: hsl(0, 0%, 95%);
  padding: 0.7rem 2rem;
  border: 1px solid white;
}

.Sedans button:hover {
  color: white;
  background-color: hsl(31, 77%, 52%);
}
.Suvs button:hover {
  color: white;
  background-color: hsl(184, 100%, 22%);
}
.Luxury button:hover {
  color: white;
  background-color: hsl(179, 100%, 13%);
}
.Sedans .class__button {
  color: hsl(31, 77%, 52%);
}

.Suvs .class__button {
  color: hsl(184, 100%, 22%);
}

.Luxury .class__button {
  color: hsl(179, 100%, 13%);
}

@media (max-width: 30rem) {
  ul {
    padding: 23% 6.5% 23% 6.5%;
    flex-direction: column; /*changes the directon for elements from horizontal to vertical*/
  }
  .Sedans {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
  }

  .Luxury {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0;
  }
}
